@keyframes opacidad {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
body {
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 45px;
  text-align: center;
}

h3 {
  font-size: 40px;
}

p {
  font-size: 300;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
}

.primary__button {
  background-color: #2AB7CA;
  padding: 0.5em;
  color: #FFFFFF;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
.primary__button:hover {
  background-color: #77D1DD;
}
.primary__button:focus {
  background-color: #C7C8CC;
}
.primary__button--large {
  width: 100%;
  border: none;
  outline: none;
  margin-top: 1em;
  padding: 1em;
  cursor: pointer;
}

.login__button {
  color: #222323;
}

.navbar {
  position: fixed;
  background-color: #FFFFFF;
  width: 100%;
  z-index: 2;
}

.nav__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: absolute;
  padding: 1em;
}

.nav__collapse {
  width: 100%;
  text-align: right;
  padding: 1em;
}
.nav__collapse .menu {
  font-size: 30px;
  display: block;
}

#menu {
  display: none;
}

#menu:checked ~ .navigation__container {
  height: 108px;
  border-bottom: solid 0.5px;
}

.navigation__container {
  padding: 0;
  height: 0;
  overflow: hidden;
  background-color: #FFFFFF;
  z-index: 2;
  transition: height 1s;
}
.navigation__container ul {
  display: flex;
  align-items: center;
}
.navigation__container ul li {
  width: 100%;
  padding: 1em;
  text-align: center;
}
.navigation__container ul li a {
  color: #222323;
}

.nav__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__buttons a {
  margin: 0.5em;
}

@media only screen and (min-width: 730px) {
  .navbar {
    display: flex;
    justify-content: space-between;
  }

  .nav__logo {
    position: static;
    padding-left: 3em;
  }

  .nav__collapse {
    width: 100%;
    clear: right;
    padding: 2em;
  }
  .nav__collapse .menu {
    display: none;
  }

  .navigation__container {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    overflow: visible;
    display: flex;
    justify-content: space-between;
  }
  .navigation__container ul {
    width: 30%;
    display: flex;
    align-items: center;
  }

  .nav__buttons {
    padding-right: 3em;
    display: flex;
    align-items: center;
  }
  .nav__buttons a {
    margin-left: 1em;
  }
}
.card {
  width: 80%;
  background-color: #FFFFFF;
  padding: 4em;
  transition-property: box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
.card:hover {
  box-shadow: 5px 5px 8px #EE9480;
}

.price__card {
  padding-bottom: 1em;
}
.price__card p {
  font-size: 300;
}
.price__card h4 {
  font-size: 30px;
}

.card__features {
  height: 70%;
  padding: 1em;
  border-bottom: solid 1px #8F9199;
  border-top: solid 1px #8F9199;
  list-style-type: disc;
}
.card__features li {
  margin: 0.5em;
}

@media screen and (max-width: 729px) {
  .card__features {
    height: auto;
  }

  #card1 ul {
    padding-bottom: 8em;
  }
}
.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.col-xs-12 {
  grid-column: span 12;
}

.col-xs-11 {
  grid-column: span 11;
}

.col-xs-10 {
  grid-column: span 10;
}

.col-xs-9 {
  grid-column: span 9;
}

.col-xs-8 {
  grid-column: span 8;
}

.col-xs-7 {
  grid-column: span 7;
}

.col-xs-6 {
  grid-column: span 6;
}

.col-xs-5 {
  grid-column: span 5;
}

.col-xs-4 {
  grid-column: span 4;
}

.col-xs-3 {
  grid-column: span 3;
}

.col-xs-2 {
  grid-column: span 2;
}

.col-xs-1 {
  grid-column: span 1;
}

@media (min-width: 576px) {
  .col-sm-12 {
    grid-column: span 12;
  }

  .col-sm-11 {
    grid-column: span 11;
  }

  .col-sm-10 {
    grid-column: span 10;
  }

  .col-sm-9 {
    grid-column: span 9;
  }

  .col-sm-8 {
    grid-column: span 8;
  }

  .col-sm-7 {
    grid-column: span 7;
  }

  .col-sm-6 {
    grid-column: span 6;
  }

  .col-sm-5 {
    grid-column: span 5;
  }

  .col-sm-4 {
    grid-column: span 4;
  }

  .col-sm-3 {
    grid-column: span 3;
  }

  .col-sm-2 {
    grid-column: span 2;
  }

  .col-sm-1 {
    grid-column: span 1;
  }
}
@media (min-width: 768px) {
  .col-md-12 {
    grid-column: span 12;
  }

  .col-md-11 {
    grid-column: span 11;
  }

  .col-md-10 {
    grid-column: span 10;
  }

  .col-md-9 {
    grid-column: span 9;
  }

  .col-md-8 {
    grid-column: span 8;
  }

  .col-md-7 {
    grid-column: span 7;
  }

  .col-md-6 {
    grid-column: span 6;
  }

  .col-md-5 {
    grid-column: span 5;
  }

  .col-md-4 {
    grid-column: span 4;
  }

  .col-md-3 {
    grid-column: span 3;
  }

  .col-md-2 {
    grid-column: span 2;
  }

  .col-md-1 {
    grid-column: span 1;
  }
}
@media (min-width: 992px) {
  .col-lg-12 {
    grid-column: span 12;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-1 {
    grid-column: span 1;
  }
}
@media (min-width: 1200px) {
  .col-xl-12 {
    grid-column: span 12;
  }

  .col-xl-11 {
    grid-column: span 11;
  }

  .col-xl-10 {
    grid-column: span 10;
  }

  .col-xl-9 {
    grid-column: span 9;
  }

  .col-xl-8 {
    grid-column: span 8;
  }

  .col-xl-7 {
    grid-column: span 7;
  }

  .col-xl-6 {
    grid-column: span 6;
  }

  .col-xl-5 {
    grid-column: span 5;
  }

  .col-xl-4 {
    grid-column: span 4;
  }

  .col-xl-3 {
    grid-column: span 3;
  }

  .col-xl-2 {
    grid-column: span 2;
  }

  .col-xl-1 {
    grid-column: span 1;
  }
}
.about {
  padding-top: 8em;
  position: relative;
  background-color: transparent;
  z-index: -1;
}

.header__tittle {
  width: 28%;
  height: 0;
  padding-left: 10em;
}
.header__tittle h1 {
  padding-bottom: 0.5em;
}

.header__img {
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 729px) {
  .header__tittle {
    width: 60%;
    height: auto;
    padding-left: 6em;
  }
  .header__tittle h1 {
    font-size: 35px;
  }
  .header__tittle p {
    font-size: 14px;
  }
}
.main__container {
  padding-left: 8em;
  padding-right: 8em;
  padding-bottom: 20em;
}
.main__container h2 {
  text-align: center;
  padding-bottom: 1em;
}

.main__graphic {
  display: flex;
  justify-content: center;
}
.main__graphic svg {
  width: 60%;
}

.main__text {
  align-self: center;
  text-align: center;
}
.main__text h3 {
  padding-bottom: 0.5em;
}

@media screen and (max-width: 729px) {
  .main__container {
    padding-top: 1em;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 1em;
  }
  .main__container .row {
    display: block;
  }
  .main__container h2 {
    font-size: 35px;
  }
  .main__container h3 {
    font-size: 30px;
  }
  .main__container p {
    font-size: 14px;
    padding: 2em;
  }

  .main__graphic {
    padding-bottom: 1em;
  }
}
.image-animation {
  animation-name: opacidad;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.prices__container {
  position: relative;
  background-color: transparent;
}
.prices__container img {
  position: absolute;
  z-index: -2;
  top: -17rem;
}

.section__container {
  position: relative;
  background-color: #333745;
}
.section__container h2 {
  color: #FFFFFF;
}
.section__container .row {
  padding-top: 2em;
  padding-bottom: 3em;
  grid-gap: 4rem;
}

#card1 {
  grid-column-start: 4;
  width: 85.5%;
}

#card2 {
  grid-column-start: 8;
}

.card__button {
  display: flex;
  justify-content: center;
}
.card__button button {
  width: 100%;
  font-size: 1em;
  font-weight: 700;
  text-align: center;
  margin-top: 1em;
}

@media screen and (max-width: 729px) {
  .prices__container {
    padding-top: 1em;
  }
  .prices__container img {
    top: 0;
  }

  .section__container {
    background-color: #333745;
    top: 5rem;
    padding-bottom: 3em;
  }

  #card1 {
    width: 80%;
    grid-column-start: 1;
    margin-left: 1.8em;
    margin-right: 1em;
  }

  #card2 {
    grid-column-start: 1;
    margin-left: 1.8em;
    margin-right: 1em;
  }
}
.footer {
  background-color: #222323;
  color: #AEACAF;
  padding: 2em;
}
.footer a {
  color: #AEACAF;
}

.footer__container {
  width: 100%;
}

.footer__section {
  display: flex;
  justify-content: space-between;
}

.footer__items {
  display: flex;
}
.footer__items li {
  padding-right: 2em;
}

@media screen and (max-width: 729px) {
  .footer {
    margin-top: 5em;
  }

  .footer__section {
    display: block;
  }

  .footer__items {
    display: flex;
    justify-content: center;
  }
  .footer__items li {
    padding-right: 0;
    padding: 1em;
  }

  .footer__copyright {
    display: flex;
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
