// Contenedor con imagen y textos
.about {
  padding-top: 8em;
  position: relative;
  background-color: transparent;
  z-index: -1;
}

// Textos
.header__tittle {
  width: 28%;
  height: 0;
  padding-left: 10em;
}

// Imagen
.header__img {
  background-size: cover;
  background-repeat: no-repeat;
}

 // Media Querys versión movil
@media screen and (max-width: 729px) {
  .header__tittle {
    width: 60%;
    height: auto;
    padding-left: 6em;
    h1 {
      font-size: $xx-large;
      padding-bottom: 0.5em;
    }
    p {
      font-size: $small;
    }
  }
}
