// Secci칩n textos con gr치fico
.main__container {
  padding-left: 8em;
  padding-right: 8em;
  padding-bottom: 5em;
  h2 {
    text-align: center;
    padding-bottom: 1em;
  }
}

// Gr치fico
.main__graphic {
  display: flex;
  justify-content: center;
  svg {
    width: 60%;
  }
}

// Textos
.main__text {
  align-self: center;
  text-align: center;
  h3 {
    padding-bottom: 0.5em;
  }
}

// Media Querys versi칩n movil
@media screen and (max-width: 729px) {
  .main__container {
    padding-top: 1em;
    padding-left: 3em;
    padding-right: 3em;
    h2 {
      font-size: $xx-large;
    }
    h3 {
      font-size: $x-large;
    }
    p {
      font-size: $small;
    }
  }
}
