// Sección cards con Precios
.prices__container {
  position: relative;
  background-color: transparent;
  img {
    position: absolute;
    z-index: -2;
    top: -17rem;
  }
}
.section__container {
  position: relative;
  background-color: $onyx; //Dejé esta propiedad en ambas versiones porque en mi pc se genera un margen blanco y así se evita ese problema
  h2 {
    color: $white;
    // margin-top: 1em; En el pc del curso, este padding se ve bien, pero en mi pc no.
  }
  .row {
    padding-top: 2em;
    padding-bottom: 3em;
    grid-gap: 4rem;
  }
}

#card1 {
  grid-column-start: 4;
  width: 85.5%;
}
#card2 {
  grid-column-start: 8;
}

// Botones de las cards
.card__button {
  display: flex;
  justify-content: center;
  button {
    width: 100%;
    font-size: 1em;
    font-weight: $bold;
    text-align: center;
    margin-top: 1em;
  }
}
// Media Querys versión movil (IMG)
@media screen and (max-width: 729px) {
  .prices__container {
    padding-top: 1em;
    img {
      top: 0;
    }
  }
  .section__container {
    background-color: $onyx;
    top: 5rem;
    padding-bottom: 3em;
  }
  #card1 {
    width: 80%;
    grid-column-start: 1;
    margin-left: 1.8em;
    margin-right: 1em;
    
  }
  #card2 {
    grid-column-start: 1;
    margin-left: 1.8em;
    margin-right: 1em;
  }
}
